page-booking {
    .scroll-content {
        padding-bottom: 0 !important;
    }
    
    .content {
        background-color: #262729;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
       
       
     
    }
    .room-image{
        
       object-fit: cover;
    }
    .middle{
        flex: 1;
        display: flex;
        justify-content: space-evenly;
        
        
    }
    .bottom{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
         
        font-size: 5mm;
    }
    .typ{
       
       
        display: flex;
        justify-content: space-around;
        
        color: seashell;
    }
    .typ1{
        width: 35%;
        height: 80%;
      
        
    }
    .typ2{
        width: 15%;
        height: 80%;
     
        
    }
    .typ3{
        width: 15%;
        height: 80%;
        padding: -20px
      
    }
    .typ4{
        width: 15%;
        height: 80%;
    
    }

   .last{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;

   
  
 }
   
 .conf{
     height: 50%;
     width: 100%;
     
     display: flex;
     justify-content: space-evenly;
 }  
 .price
 {
     width: 25%;
    color: seashell;
     height: 80%;
     display: flex;
     
 }
 .btn{
   width: 30%;
   height: 80%;
  
 }
 .btnproceed{
     height: 70%;
     width: 100%;
     background-color: rgba(48, 83, 156, 0.959);
     color: seashell;
 }
 .btncancel{
    height: 70%;
    width: 100%;
    background-color: rgba(219, 52, 46, 0.959);
    color: seashell;
 }
}