

<ion-content padding>
  <div class="container">
    <div class="top">
    <div class="headin">
     <h3 style="color: rgb(146, 146, 146); font-size: 23px;">Make your final steps with payment.</h3> 
    </div>
     
    <div class="card">
      <div class="cardpic1"></div>
      <div class="cardpic2"></div>
      <div class="cardpic4"></div>
      <div class="cardpic5"></div>
    </div>
    
  </div>
  <form class="bottom" [formGroup]="paymentForm">
   <h4 style="text-align: center; color: #ffffff; margin-top: 5%;">Card Details</h4>
      <div class="detals">
      
          <ion-item style="background-color: transparent;color: seashell;">
            <ion-label style="color: seashell" floating>Card Holder Name</ion-label>
            <ion-input type="text" formControlName="name" name="name" [(ngModel)]="card.name" class="btn"></ion-input>
          </ion-item>
          <div class="error" *ngFor="let validate of validation_messages.name">
              <div class="messages" *ngIf="paymentForm.get('name').hasError(validate.type) && (paymentForm.get('name').dirty || paymentForm.get('name').touched)">
                {{validate.message}}
              </div>
            </div>
          <ion-item style="background-color: transparent;color: seashell;">
              <ion-label style="color: seashell" floating>Card Number</ion-label>
              <ion-input  type="number" formControlName="number" name="number" [(ngModel)]="card.number" class="btn"></ion-input>
            </ion-item>
            <div class="error" *ngFor="let validate of validation_messages.number">
                <div class="messages" *ngIf="paymentForm.get('number').hasError(validate.type) && (paymentForm.get('number').dirty || paymentForm.get('number').touched)">
                  {{validate.message}}
                </div>
              </div>
        
      </div>
      <div class="detals2">
        <div class="expDate">
            <ion-item style="background-color: transparent;color: seashell;">
                <ion-label floating style="color: seashell">expiry Date</ion-label>
                <ion-input type="date" formControlName="expiryDate" class="btn1" name="expiryDate" [(ngModel)]="card.expiryDate"></ion-input>
              </ion-item>
              <div class="error" *ngFor="let validate of validation_messages.expiryDate">
                  <div class="messages" *ngIf="paymentForm.get('expiryDate').hasError(validate.type) && (paymentForm.get('expiryDate').dirty || paymentForm.get('expiryDate').touched)">
                    {{validate.message}}
                  </div>
                </div>
        </div>
        <div class="secuCode">
           
            <ion-item style="background-color: transparent;color: seashell;">
                <ion-label style="color: seashell" floating>Security Code</ion-label>
                <ion-input type="datetime" formControlName="securityCode" name="securityCode" [(ngModel)]="card.securityCode"></ion-input>
              </ion-item>
              <div class="error" *ngFor="let validate of validation_messages.securityCode">
                  <div class="messages" *ngIf="paymentForm.get('securityCode').hasError(validate.type) && (paymentForm.get('securityCode').dirty || paymentForm.get('securityCode').touched)">
                    {{validate.message}}
                  </div>
                </div>
        </div>
      </div> 
      <div class="btnh">
       
           <button ion-button class="btnpay" full round (click)="Payment()">Pay (R {{total}}.00)</button>
         
      </div>
  </form>
  </div>
</ion-content>