page-payment {
   /*  .container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
       
        background: linear-gradient(rgba(189, 179, 211, 0.903),rgba(190, 174, 235, 0.981)),url(../../assets/imgs/durban.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; 
     
    }
  
    .top{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 40%;
        
    }
    .headin{
        font-size: 5mm;
      
        height: 30%;
        padding: 10px;
        color: rgb(109, 21, 136)
    }
    .bottom{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 65%;
    
    }
    .card{
        width: 100%;
        height: 30%;
       
        display: flex;
        justify-content: space-evenly;
        
    }
    .radi{
        width: 10%;
        padding: 12px;
       
        height: 80%;
        
    }
    .cardpic1{
        width: 15%;
        
        height: 40px;
        background-image: url(../../assets/imgs/card.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .cardpic2{
        width: 15%;
       
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../assets/imgs/card2.png)
    }
    .cardpic3{
        width: 15%;
       
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../assets/imgs/cardca.png)
    }
    .cardpic4{
        width: 15%;
      
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../assets/imgs/cardama.png)
    }
    .cardpic5{
        width: 15%;
       
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url()
    }
    .headin1{
        font-size: 5mm;
     
        height: 15%;
        padding: 10px;
        color: rgb(109, 21, 136)  
    }
    .detals{
        width: 80;
        height: 40%;
        justify-content: space-evenly;
        padding: 10px;
    }
    .btn{
        background-color: transparent;
        width: 96%;
        height: 80%;
        
    }
    .txt1{
        height: 50%
    }
    .txt2{
        height: 50% 
    }
    .detals2{
        height: 25%;
      
        display: flex;
        justify-content: space-evenly;
        
    }
    .expDate{
        width: 45%;
        
    }
    .secuCode{
        width: 45%;
        
    }
    .btn1{
        
        background-color: transparent;
        width: 90%;
        height: 50%;
        padding: 10px
    }
    .btnh{
        width: 100%;
        display: flex;
        justify-content: space-evenly
    }
    .btnpay{
        width: 90%;
        background-color: seashell;
        color: brown;
        border-radius: 15px
    }
    .p{
        font-style: unset;
        padding: 10px;
        width: 100%
    }
    .card2{
        width: 15%;
        
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../../assets/imgs/paypa.png');
    }
    .card1{
        width: 100%;
        height: 30%;
        display: flex;
    } */

    .content {
        background: linear-gradient(rgba(189, 179, 211, 0.903),rgba(190, 174, 235, 0.981)),url(../../assets/imgs/durban.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; 
    }
    .header {
        color: #fff;
        text-align: center;
    }
    .top{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 40%;
        
    }
    .cardpic1{
        width: 15%;
        
        height: 40px;
        background-image: url(../../assets/imgs/card.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .cardpic2{
        width: 15%;
       
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../assets/imgs/card2.png)
    }
    .cardpic3{
        width: 15%;
       
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../assets/imgs/cardca.png)
    }
    .cardpic4{
        width: 15%;
      
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../assets/imgs/cardama.png)
    }
    .cardpic5{
        width: 15%;
       
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url()
    }
    .p{
        font-style: unset;
        padding: 10px;
        width: 100%
    }

}
