<ion-menu  [content]="content" type="overlay">
 

  <ion-content class="container1">
    <div class="profile" *ngFor="let pro of profile;" padding>
     <img src="{{pro.Image}}" class="thumb"> 
     <div class="title" style="color: seashell">
       <h1>{{pro.Username}}</h1>
       <p>{{userEmail}}</p>
       <p>{{pro.Contact}}</p>
       <p>{{pro.Bio}}</p>
      </div>
    </div>
    
    
    <ion-list class="item" no-lines>
      <button menuClose color="secondary" block ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>