page-viewrooms {
    .content {
        background-color: rgb(29, 28, 28);
    }
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .head{
        width: 100%;
        height: 40%;
        position: relative;
        //border: solid;
    }
    .roomdetails{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        background-color: transparent;
//border:solid;
    }
    .icons{
        height: 10%;
        display: flex;
        border-top-right-radius: 100% 15%;
        border-bottom-right-radius: 100% 15%;
        justify-content: space-around;
        align-items: center;
        background:  linear-gradient(to left, rgb(228, 175, 3), rgba(255, 196, 1, 0.774));
        
    }
    .about{
        width: 100%;
        height: 10%;
        display: flex;
        //border: solid;
    }
    .price{
        position: absolute;
        top: 5%;
        left: 0%;
        background: rgb(32, 32, 32);
        padding: 1vw;
        border-top-right-radius: 100% 15%;
        border-bottom-right-radius: 100% 15%;
        
        font-weight: 500;
        color: #fff;
    }
    .booking {
        position: absolute;
        bottom: -10%;
        right: 1%;
    }
    .Roomtyp{
         width: 100%;
         height: 50%;
         //border: solid;
         
         font-size: 6mm;
    }
    .roomtyp2{
         width: 100%;
         height: 50%;
        
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         padding-right: 5%;
         padding-left: 5%;
         background-color: transparent;
    }
    .admindetails{
        width: 50%;
        height: 100%;
        //border: solid;
    }
    .propic{
       height: 10vh;
       width: 10vh;
       border-radius: 50%;

    }
    .imag{

        border-radius: 50%;
        width: 40%;
        height: 150%;
        
    }
    
    .pric{
        width: 50%;
        /* height: 80%; */
        
    }
    .btn{
      
       background:  rgb(228, 175, 3);
       color: rgb(0, 0, 0);
      
    
    }
    }