
<ion-content>
<div class="container" *ngFor="let room of rooms;">
  <div class="head">
    <img src="{{room.image}}" style="height: 100%;width:100%;">
    <div class="price">
     <p>R {{room.Price}} Per Night</p> 
    
    </div>
    <div class="booking">
        <button class="btn" ion-button (click)="bookNow(room.key)">Book</button>
    </div>
  </div>
  <div class="roomdetails">
     <div class="Roomtyp" style="color:seashell;">
      {{room.RoomType}} <br>
      <h4>{{room.Location}}</h4> 
     </div>
    <div class="roomtyp2" *ngFor="let owner of owners">
      <div class="admindetails" style="color:seashell;">
        <p>{{owner.Bio}}</p>
        <p>hosted By {{owner.Username}}</p></div>
      <div ><img src="{{owner.Image}}" class="propic" alt=""></div>
    </div>
  </div>
  <div class="icons" style="color:seashell;">
     <div class="icons1"><span style="font-size: 23px; font-family:Verdana, Geneva, Tahoma, sans-serif;">{{room.bed}}</span> <i class="fa fa-bed" style="font-size:24px; color:seashell;"></i></div>
     <div class="icons1"><span style="font-size: 23px; font-family:Verdana, Geneva, Tahoma, sans-serif;">{{room.bathrooms}}</span> <i class="fa fa-bathtub" style="font-size:24px; color:seashell;"></i></div>
     <div class="icons1"><span style="font-size: 23px; font-family:Verdana, Geneva, Tahoma, sans-serif;">{{room.bedRooms}}</span> <i class='fas fa-door-open' style="font-size:24px; color:seashell;"></i></div>
     <div class="icons1"><span style="font-size: 23px; font-family:Verdana, Geneva, Tahoma, sans-serif;">{{room.guest}}</span> <i class="fas fa-users" style="font-size:24px; color:seashell;"></i></div>
  </div>
  <div class="about">
      
  </div>
  <div class="Description" style="color:seashell;">
   
    
    {{room.Description}}
  </div>
</div>
</ion-content>